
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e9e7e7;
    color: #333;
}

header {
    background-color: #0e2741; 
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    
}

th {
    background-color: #616161; 
    color: white;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    color: #444;
}


tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}


tbody tr:hover {
    background-color: #f1f1f1;
    transition: 0.2s;
}


form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #28a745; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cadastrar {
    display: inline-block;
    background-color: #0e2741;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn-cadastrar:hover {
    background-color: #218838;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
