{% extends "base.html" %}
{% block title %}Nova Especialidade{% endblock %}

{% block content %}
    <h2>Cadastrar Especialidade</h2>

    <form action="{{ url_for('especialidade.salvar') }}" method="POST">
        <div class="form-group">
            <label for="nome_especialidade">Nome da Especialidade:</label>
            <input type="text" 
                   id="nome_especialidade"
                   name="nome_especialidade" 
                   class="form-control" 
                   required 
                   placeholder="Ex: Cardiologia">
        </div>
        
        <button type="submit" class="btn-cadastrar" style="border: none; cursor: pointer;">Salvar</button>
        
        <a href="{{ url_for('especialidade.listar') }}">Cancelar</a>
    </form>
{% endblock %}