{% extends "base.html" %}
{% block title %}Especialidades{% endblock %}

{% block content %}
    <h2>Lista de Especialidades</h2>
    
    <p>
        <a href="{{ url_for('especialidade.novo') }}" class="btn-cadastrar">
            Cadastrar Nova Especialidade
        </a>
    </p>

    {% if especialidades %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome da Especialidade</th>
            </tr>
        </thead>
        <tbody>
            {% for esp in especialidades %}
            <tr>
                <td>{{ esp.id_especialidade }}</td>
                <td>{{ esp.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhuma especialidade cadastrada.</p>
    {% endif %}
{% endblock %}